.app-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  padding-top: 100px;
}

.timer-circle-wrapper {
  position: relative;
  width: 420px;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-number-text {
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Nunito", sans-serif;
  font-size: 64px;
  font-weight: 800;
  color: #66a841;
}

.leaf-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  transform-origin: center center;
}

.leaf-img {
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 45px;
  z-index: 20;
}

.button-group {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

.timer-control-btn {
  width: 240px;
  height: 80px;
  background-color: #dff9cf;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  border-radius: 15px;

  border: 1px solid #000000 !important;

  outline: none !important;

  box-shadow: none !important;

  -webkit-tap-highlight-color: transparent;

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
}

.timer-control-btn:hover {
  background-color: #e3fbd4;
  border: 1px solid #000000 !important;
}

.timer-control-btn:active,
.timer-control-btn:focus {
  background-color: rgb(231, 247, 223);
  border: 1px solid #000000 !important;
  outline: none !important;
  box-shadow: none !important;
}

.single-btn {
  width: 512px;
}

.timer-control-btn:hover {
  opacity: 0.8;
}

.my-text {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
}

.gmt-top-logo {
  position: absolute;
  width: 234px;
  left: 30px;
  top: 32px;
  height: 112px;
}
.my-profile-top {
  position: absolute;
  top: 40px;
  right: 60px;
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
}
.user-profile-img {
  width: 52px;
  height: 52px;
}
