/* 컨테이너 */
#resetPasswordContainer {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 안내 문구 */
.info-text {
  margin-bottom: 10px;
  color: #666;
  font-size: 14px;
  text-align: left;
  width: 100%;
}

/* 타이머가 들어있는 입력창 감싸기 */
.input-wrapper {
  position: relative;
  width: 100%;
}

.timer {
  position: absolute;
  right: 15px;
  top: 18px;
  color: #ff4d4d;
  font-weight: bold;
  font-size: 14px;
}

/* 재전송 링크 */
.resend-link {
  margin-top: 15px;
  font-size: 13px;
  color: #888;
  text-decoration: underline;
  cursor: pointer;
}

/* 돌아가기 버튼 */
.back-to-login {
  margin-top: 25px;
  font-size: 13px;
  color: #333;
  cursor: pointer;
}

.back-to-login:hover {
  color: #96d174;
}